
@import url('https://fonts.googleapis.com/css?family=Varela+Round|Nunito:800,900|Rubik:700,900|Quicksand:400,500,600,700');

html, body {margin: 0; padding: 0;}

body {
  background-color: #fff; font-family: Quicksand, sans-serif; font-size: 16px; font-weight: 500;
  h1 {font-family: Quicksand, sans-serif; font-weight: 700; font-size: 72px; letter-spacing: -2px}
}

:focus {outline: none}

a:link, a:visited {text-decoration: none; color: #777;}
a:hover {color: #ef0000;}
.center {text-align: center}

.socials {padding: 20px 0;
  > * {padding: 0 10px; vertical-align: middle}
  * > * {vertical-align: middle}
}

.intro { background: #fff; color: #000; font-size: 16px; text-align: center; display: flex; flex-direction: column; justify-content: space-around; min-height: 100vh; background-image: url();  

  .catch {font-family: Rubik, sans-serif; text-transform: uppercase; font-size: 60px; font-weight: 700; letter-spacing: -3px;
    p {margin: 0;}
  }
  .me {display: flex; flex-flow: row-reverse; align-items:center; justify-content: center; text-align: right; color: #333;}

  .potrait {width: 200px; height: 200px; margin: 0 50px; border-radius: 200px 200px 100px 100px; background-image: url('/static/img/photo.jpg'); background-size: cover; background-position: 50% 10%; box-shadow: 0 0 0 15px rgba(45, 17, 0, 0.05) inset;}

  .title {margin: 0; font-weight: 600; font-weight: 700; font-size: 28px; letter-spacing: -1px}
}

.preview { background: rgba(255,255,255,0.05); box-shadow: 0 0 100px 0 rgba(0,0,0,0.1);
  text-align: center; margin: 50px auto; position: relative;
  img {max-width: 100%}
  .slider-slide {
  }
  .slider-control-bottomcenter {bottom: -60px!important}
  .slider-control-centerright, .slider-control-centerleft {display: none}
}

.work-item {width: 100%; padding: 100px 6%; box-sizing: border-box;
  header { text-align: center; margin: 50px 0;
    > * {margin: 10px 0;}
    h1.title {font-size: 58px; letter-spacing: -2px}
    .short {font-size: 32px; font-weight: 400;}
  }

  .information { padding: 25px 0; display: flex; justify-content: space-between;
    font-size: 18px;
    .specs p {margin: 5px 0; font-size: 18px; text-transform: uppercase}
    .label {font-weight: 700; margin-right: 20px; text-transform: uppercase}
    .details {max-width: 50%;
      p {margin: 0;}
    }
    .date {letter-spacing: 1px}
    .tech { display: flex; margin: 20px 0; align-items: center;
      .label { font-size: 15px; height: 24px; vertical-align: middle; line-height: 24px; padding: 5px 20px; background: rgba(0,0,0,0.2);}
      .items {background: #fff; display: flex;}
      .item {padding: 5px 20px; height: 24px;}
      .item img {height: 100%;}
    }
  }
}

.call {
  padding: 100px 0;
}

.dark-blue {background-color: #2c3e50; color: #fff;}
.light-blue {background-color: #3498db; color: #fff;}
.green {background-color: #71aa17; color: #fff;}